@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

.container{
    overflow: hidden;
    position: absolute;
    width: 1440px;
    display: flex;
    background-color: hsl(233, 47%, 7%);
    font-family: 'Inter', 'Lexend Deca', sans-serif;
    color: hsl(0, 0%, 100%);
}

.card{
display: flex;
background-color: hsl(244, 38%, 16%) ;
margin: 170px;
position: relative;
width: 1110px;
height: 450px;
border-radius: 10px;
flex-direction: row-reverse;
}

#color{
    width: 540px;
    height: 450px;
    border-radius: 10px;
    background-image: linear-gradient(rgba(10, 20, 30, 0.5),rgba(10, 20, 30, 0.5)) ;
    background-position: center;
    background-size: cover;
}

img{
    width: 540px;
    height: 450px;
    border-radius: 10px;
    
    
}
.text-box{
    margin: 60px;
    padding-inline-end: 30px;
}
.stats{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 60px;
    left:60px;
   
}
.pad-right{
    padding-right: 60px;

}
p{
   color: hsla(0, 0%, 100%, 0.6);
}